:root {
  --Pale-Violet: hsl(276, 100%, 81%);
  --Moderate-Violet: hsl(276, 55%, 52%);
  --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
  --Grayish-Blue: hsl(206, 6%, 79%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Dark-Grayish-Violet: hsl(270, 7%, 64%);
  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);
  --White: hsl(0, 0%, 100%);
  --Light-Grayish-Violet: hsl(270, 20%, 96%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Very-Light-Magenta: hsl(289, 100%, 72%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "rubik", sans-serif;
}
#purple {
  height: 700px;
  width: 490px;
  background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 0 0 400px 400px;
  position: absolute;
  top: -120px;
  left: -150px;
}
#ash {
  height: 700px;
  width: 490px;
  background: var(--Light-Grayish-Violet);
  position: absolute;
  right: -150px;
  bottom: -120px;
  border-radius: 400px 400px 0 0;
}
section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}
#phone-screen {
  border: 10px solid white;
  border-radius: 30px;
  height: 420px;
  width: 230px;
  position: relative;
  background: var(--Light-Grayish-Violet);
  box-shadow: 10px 10px 70px -10px hsl(268, 16%, 84%);
}

#chat-header {
  display: flex;
  padding: 30px 0 0 0;
  background: linear-gradient(
    to right,
    hsl(264, 100%, 61%) 10%,
    hsl(293, 100%, 63%) 120%
  );
  height: 60px;
  border-radius: 20px 20px 6px 6px;
}
#profile h4 {
  font-size: 10px;
  color: var(--White);
  font-weight: 200;
}
#profile p {
  font-size: 7px;
  color: var(--Pale-Violet);
}
#back-arrow {
  color: white;
  font-weight: 900;
  margin-left: 5px;
  margin-right: 5px;
}
#avatar {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 100%;
  margin-right: 5px;
}
#cut-out {
  width: 100px;
  height: 30px;
  background: white;
  position: absolute;
  left: 55px;
  border-radius: 15px;
  top: -10px;
}
#dots {
  color: white;
  margin-left: 80px;
  transform: rotate(90deg);
}
.chat {
  font-size: 7px;
  width: 120px;
  margin: 5px;
  padding: 5px 15px 5px 5px;
  background: rgb(218, 222, 225);
  border-radius: 8px;
  color: var(--Moderate-Violet);
}
#dog-img {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}
#dog-img img {
  width: 35px;
  margin: 0px 5px 0px 0px;
  border-radius: 10px;
}
#first-reply {
  background: white;
  border-radius: 8px;
  margin: 5px 0 5px 85px;
  padding: 5px;
  font-size: 7px;
  width: 120px;
  color: var(--Desaturated-Dark-Violet);
}
#second-reply {
  background: white;
  border-radius: 8px;
  margin: 5px 0 5px 125px;
  padding: 5px;
  font-size: 7px;
  width: 80px;
  color: var(--Desaturated-Dark-Violet);
}
.price-tag {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  margin: 5px;
  padding: 10px;
  width: 150px;
  font-size: 7px;
  border-radius: 10px 10px 10px 5px;
  color: var(--Pale-Violet);
}
.description {
  display: flex;
}
.radio-btn {
  height: 10px;
  width: 10px;
  border: 1px solid var(--Very-Light-Magenta);
  border-radius: 100%;
  margin-right: 5px;
}
.amt {
  color: white;
  font-weight: 700;
  font-size: 10px;
  padding-left: 40px;
}
#second-amt {
  padding-left: 55px;
}
.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background: white;
  color: rgb(218, 222, 225);
  font-size: 8px;
  margin: 5px;
  margin-top: 10px;
  padding: 0 10px;
  border-radius: 10px;
}
#forward-arrow {
  background: var(--Very-Dark-Desaturated-Violet);
  height: 20px;
  width: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}
#text {
  width: 350px;
  position: relative;

  /*left: 630px;
  top: 270px;*/
}
#text h1 {
  color: var(--Very-Dark-Desaturated-Violet);
  font-size: 30px;
  margin-bottom: 20px;
}
#text p {
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 0.5px;
  color: var(--Grayish-Blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-weight: 900;
  position:relative;
}
.attribution a {
  color: hsl(265, 5%, 48%);
  text-decoration: none;
}
.attribution a:hover {
  cursor: pointer;
  color: var(--Light-Violet);
  transition: all 0.5s ease-in-out;
}
@media only screen and (max-width: 600px) {
  #purple {
    left: -300px;
    top: -200px;
  }
  #ash {
    display: none;
  }
  section {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    padding-bottom: 50px;
  }
  #text {
    text-align: center;
    margin: 50px 0;
    padding: 50px;
  }
}
